body{
    background-color: #f0f8ff;
    width: 100vw;
    height: 100vh;
    
    caret-color: transparent;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h2 {
    text-align: center;
}

#display {
    display: flex;


    width: 72vmin;
    min-width: 320px;
    max-width: 600px;

    height: 9vmin;
    min-height: 40px;
    max-height: 75px;

    margin: 20px auto 0px;

    box-sizing: border-box; 
}

#input {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-size: 25px;

    width: 75%;
    height: 100%;

    padding: 0px 20px;

    background-color: #f9f9f9;
    border: 1px solid grey;
    box-sizing: border-box; 
}

#controls {
    width: 72vmin;
    min-width: 320px;
    max-width: 600px;

    height: 72vmin;
    min-height: 320px;
    max-height: 600px;
    margin: 0px auto;
}

#controls > div {
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 25px;

    width: 100%;   
    height: 25%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25%;
    height: 100%;
    border: 1px solid grey;
    box-sizing: border-box; 
}

.digit {
    background-color: #daeaf5;
}

.equals{
    background-color: #4997d0;
}

.operator {
    background-color: #91c0e2;
}

.clear, .back  {
    background-color: #ff6347;
}

